body {
  padding: 0;
  background-color: #f8f8f8;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Overriding bootstrap styles */
.navbar-default {
  background: #fff;
}

.navbar-brand {
  padding-left: 0px;
}

.form-control {
  width: 200px;
  display: inline;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.return-link {
  padding-bottom: 15px;
  display: block;
}

.preview-text {
  max-height: 55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
